/*
  cart.css by Alex
  Latest modified: 2016-11-06 19:37
*/
html,body {
  /*width:26.666667rem;  Fit the width of the machine */
}
.wrapper {
  position:relative;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.4);
  color:#7d3e39;
  /* 这里的 wrapper 仅用来模拟弹窗下面的页面 */
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.sku_wrapper {
  position: absolute;
  top: 0.972222rem;
  left: 1.388889rem;
  /*padding: 0.333333rem;*/
  box-sizing:border-box;
  background-color: #fff;
  width: 23.958333rem;
  height: 12.319444rem;
  /*overflow: hidden;*/
  /*padding: 0.444444rem 1.027778rem 0.277778rem 0.833333rem;*/
}

.item_wrapper{
  display: inline-block;
  /*float: left;*/
 
}

.sku_img_info
{
  border-right: 1px solid #ccc;
  padding: 0.444444rem 0.625rem 0.305556rem 0.805556rem;
}

.sku_img_info
 .show_img{
    width: 7.569444rem;
    height: 7.569444rem;
    background-color: rgba(250,124,115,.2);
    text-align: center;
    vertical-align: middle;
    margin-left: 0.277778rem;

}

.sku_img_info
 .show_img:after{
    content: 'center';
    width: 0;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}

.sku_img_info
 .show_img img{
    vertical-align: middle;
    width: 50%;
}

.sku_img_info
 .img_wrapper{
    width: 8.222222rem;
    
}

.sku_img_info
 .img_wrapper .img_item{
  width: 1.777778rem;
  height: 1.791667rem;
  margin-right: 0.277778rem;
  display: inline-block;
  float: left;
  margin-top: 0.208333rem;
  vertical-align: middle;
  text-align: center;
}

.sku_img_info
 .img_wrapper .img_item:after{
  width: 0;
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.img_border{
  /*border:1px solid rgba(250,124,115,.2);*/
  box-shadow:inset 0 0 0 1px rgba(250,124,115,.2);
}

.sku_img_info
 .img_wrapper .img_item img{
    width: 62%;
    vertical-align: middle;
}

.sku_sub{
    padding: 0.694444rem 0.972222rem 0.555556rem 0;
    margin-left: 10.763889rem;
    position: relative;
    height: 100%;
}

.sku_sub .sub_header{

}

.sku_sub .sub_title {
    color:#000;
    line-height: 30px;
    width: 6.222222rem;
    overflow: hidden;
    float: left;
}

.sku_sub .sub_title>p{
  width: 100%;
}

.sku_sub .sub_info {
  margin-left: 6.5rem;
}

.sku_sub .sku_header{
    padding-bottom: 0.416667rem;
    border-bottom: 1px solid #ccc;
}

.sku_sub .sku_title>p{
  width: 100%;
}


.sub_price
{
  display: inline-block;
  text-align: right;
  margin-right: 0.555556rem;
  float: left;
}

.sub_price>p:first-child
{
  color: #28ABEF;
  opacity: 0.9;
  line-height: 0.833333rem;
}

.sub_price>p:last-child
{
  color: #000;
  opacity: 0.5;
  text-decoration: line-through;
}

.sku_sub .button{
  border:1px solid #fa7c73;
  background-color: #fa7c73;
  width: 3.263889rem;
  height: 1.305556rem;
  border-radius:1.305556rem;
  border-top-right-radius: 0;
  color:#FFF;
  display: inline-block;
  line-height: 1.291667rem;
  text-align: center;  
  opacity: 1;
}

.sku_sub .button>span
{
  -webkit-filter: opacity(0.9);
}

.sku_sub .sub_benefit{
  margin-top:0.347222rem; 
}
.sku_sub .sub_benefit>span{
  display: inline-block;
  line-height: 0.580556rem;
  color: #666;
  text-align: center;
  margin-right: 0.138889rem; 
}

.sku_sub .sub_benefit>span:last-child{
  margin-right: 0; 
}

.square_border{
   width: 1.388889rem;
   /*height: 0.694444rem;*/
   /*box-shadow: 0 0 0 2px rgba(0,0,0,.6) inset;*/
   border-radius: 0.138889rem;
   border:2px solid rgba(0,0,0,.6);   
}

.ovals_border{
   width: 3.166667rem;
   /*height: 0.694444rem;*/
   /*box-shadow: 0 0 0 2px rgba(0,0,0,.6) inset;*/
   border-radius: 0.694444rem; 
   border:2px solid rgba(0,0,0,.6);  
}

.sku_sub .sub_compaign{
   margin-top:0.347222rem; 
   /*height: 0.944444rem;*/
   /*box-shadow: 0 0 0 0.472222rem #f9b27d inset;*/
   border:1px solid #f9b27d;
   background-color: #f9b27d;
   border-radius: 0.138889rem;
   color: #fff;
   line-height: 0.9rem;
   text-align: center;
   font-weight: 600;
}



.sku_sub .tag{
  color:#666;
  margin-right: 1.319444rem;
  margin-top: 0.416667rem;
  line-height: 40px;  
}

.sku_sub .tag.active{
  color:#FA7C73;
  border-bottom: 4px solid #fa7c73;
}

.sku_sub .sku_detail ,.sku_sub .sku_about{
  margin-top: 0.555556rem;
  
}

.sku_sub .sku_detail .comment img{
  border: 1px solid #fff;
  border-radius: 100%;
  width: 1.069444rem;
  float: left;
}

.sku_sub .sku_detail .comment>div{
  margin-left: 1.486111rem;
  
}

.comment_text{
  color: #000;
  opacity: 0.9;
  line-height: 26px;
}

.sku_sub .sku_detail .comment>div>p:first-child{
  text-indent: 1em;
}

.sku_sub .sku_detail .item_info{
  margin-top: 0.694444rem;
}

.sku_sub .sku_about>img{
  width: 1.666667rem; 
  float: left;
}

.sku_sub .sku_about>div{
  margin-left: 2.152778rem;
}


.footer{
  position: absolute;
  left: 0;
  bottom:1.555556rem;
  
}

.footer_item{
  float: left;
  margin-right: 0.833333rem;
  display: inline-block;
}

.footer_item>span:first-child{
  width: 0.972222rem;
  height: 0.972222rem;
  box-shadow: 0 0 0 1px rgba(0,0,0,.8) inset;
  border-radius: 50%;
  display: inline-block;
  float: left;
}

.footer_item>span:last-child{
  line-height: 0.958333rem;
  display: inline-block;
  margin-left: 0.138889rem;
}












